.header{
    height: 75px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    width: 200px;
    object-fit: contain;
    margin: 0 30px;
}

.header-search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}

.header-search-input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-search-icon{
    padding: 5px;
    height: 22px !important;
    background-color:#cd9042;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px;
}

.header-option{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
    color: white;
}

.line-one{
    font-size: 12px;
    font-weight: 800;
}

.line-two{
    font-size: 16px;
    font-weight: 800;
}

.header-option-basket{
    display: flex;
    align-items: center;
    color: white;
}

.header-option-basketcount{
    margin: 0 5px ;
}